prueba.py
__pycache__/aproximacion.cpython-312.pyc
__pycache__/backtracking.cpython-312.pyc
__pycache__/prog_dinamica.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
__pycache__/prog_dinamica.cpython-312.pyc
__pycache__/aproximacion.cpython-312.pyc
__pycache__/verificador_NP_parte3.cpython-312.pyc
